/*//
This code block deals with the font and generaly layout of the website style
*/
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: normal;
  color: white;
}
/*
This code block deals with the style and background of the body
*/
body {
   background-image: url("img/b6.jpg");
   height: 500px;
   background-position: center;
   background-repeat: repeat-y;
   background-size: cover;
   background-color: gray;
}
/*This code block deals with the style of the navigation bar which include links, logo, text. */
.navbar {
  background-color: none;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  right:100px;
  margin-top: -90px;
}

/* this focouses on th links */
.navbar a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 20px;
}
/* Code for the logo layout*/
.logo{
 position: relative;
 opacity: 0.6;
}
/* this changes the colour of the liks when you honver over them with the mouse */
.navbar a:hover {
  background-color: rgb(56, 0, 119);
  color: black;
}

/* this would make the current link you are on have a distinct color and background from the rest */
.navbar a.current {
  background-color: rgb(84, 0, 180);
  color: white;
}
/*This is used in styling and aligning the header*/
.head{
  text-align: center;
  color: whitesmoke;

}

.hback{
  background-color: none;
  background-size: -12px;
  opacity: 1;
  position: relative;
  margin-top: 145px;
  right: 200;
}
p{
  font-size: 17px;
}
button{
  border: 2px;
  border-style: groove;
  border-color: rgb(56, 0, 119);
  background-color: rgb(84, 0, 180);
  color: white;
  padding: 10px 15px;
}
.quizzz{
  position: relative;
  text-align: justify;
  margin-top: 45px;
}
.sbutton{
  position: relative;
  text-align: center;
}